:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

/*
https://www.webdesignerdepot.com/2013/01/how-to-use-any-font-you-like-with-css3/
*/
@font-face{
    font-family:'United Sans Reg';
    src:url("fonts/UnitedSansReg-Bold.otf") format("opentype");
}

html {
    min-height: 100%;
    font-family: "Nunito Sans", sans-serif;    
}

h1,h2,h3,h4,h5 {
    font-family: "United Sans Reg";
}

h1 {
    text-transform: uppercase;
}

/*
 * header
 * main
 */
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: .5em;
}

/*
 * column-1 | column-2
 */
main {
    display: flex;
    flex-wrap: wrap;
    flex: 1; /* flow-grow / flow-shrink / flex-basis = 1/1/0 */
}

nav#nav-bar > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a.nav-link {
    display: block;   /* so we can add padding to bottom/top */
    text-decoration: none;
    padding: .5em 1em;
}

div#savage-img {
    height: 360px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

header#header {
    flex-shrink: 0; /* don't let the header shrink beyond min size */
}

section#specs table {
    width: 100%;
    border-collapse: collapse;
}

section#specs tr:nth-child(even) {
    background: #f8f8f8;
}

section#overview,
section#features {
    margin-left: 2em;
}

section#specs {
    margin-left: 1em;
}

@media (min-width: 768px) {
    /* 
       logo | nav-links
     */
    header#header {
        display: flex;
        justify-content: space-between;
    }

    nav#nav-bar {
        align-self: center;
    }

    /* li | li | li */
    nav#nav-bar > ul {
        display: flex;
    }

    .column {
        width: 50%;
    }
    
}

